<div nz-row>
  <div nz-col class="text-center"><h4>膏体通过全球最权威检测机构SGS检测</h4></div>
</div>
<article class="weui-article">
  <div>英文版</div>
  <div class="inline">
    <img src="./assets/sgs/0001.jpg">
  </div>
  <div class="inline">
    <img src="./assets/sgs/0002.jpg">
  </div>
  <div class="inline">
    <img src="./assets/sgs/0003.jpg">
  </div>
  <div>中文版</div>
  <div class="inline">
    <img src="./assets/sgs/0004.png">
  </div>
  <div class="inline">
    <img src="./assets/sgs/0005.png">
  </div>
  <div class="inline">
    <img src="./assets/sgs/0006.png">
  </div>
</article>
