<article class="weui-article">
  <div class="inline">
    <img src="./assets/company/M1.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M2.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M3.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M4.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M5.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M6.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M7.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M8.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M9.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M10.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M11.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M12.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M13.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M14.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M15.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M16.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M17.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M18.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M19.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M20.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M21.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M22.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M23.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M24.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M25.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M26.png">
  </div>
  <div class="inline">
    <img src="./assets/company/M27.png">
  </div>
</article>
