<div class="inline">
  <img src="./assets/banner.jpg">
</div>
<div class="weui-panel weui-panel_access" style="margin-top: 0px; padding-top: 0px;" *ngIf="products">
  <div *ngFor="let product of products ">
    <div class="p-lg" style="color: black;">{{product.productName}}</div>
    <div class="inline">
      <img src="./assets/product1.jpg">
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text" style="color: black;">
        <div nz-row>
          <div nz-col nzSpan="8" >统一零售价</div>
          <div nz-col nzSpan="16" class="weui-media-box__title text-red" [innerHTML] ="yuan(product.amount)"></div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">VIP会员尊享价</div>
          <div nz-col nzSpan="16" class="weui-media-box__title text-red text-left" [innerHTML] ="yuan(product.vipAmount)"></div>
        </div>
        <div nz-row>
          <div nz-col class="weui-media-box__desc">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;购买两支即可成为VIP会员,尊享折扣优惠+佣金,
            详情查看"润玺尔公众号"->润玺尔->成为VIP会员</div>
        </div>
      </div>
    </div>
    <div class="weui-panel__ft mb-lg">
      <div class="weui-cell__bd">
        <div class="weui-flex">
          <div class="weui-flex__item pl-lg pr-lg">
            <button weui-button (click)="findProductByProductNo(product.productNo)">查看详情</button>
          </div>
          <!--<div class="weui-flex__item">-->
            <!--<button weui-button weui-mini="mini" (click)="addShoppingCart(product.productNo)">立即付款</button>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
